<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0q7X86ygmTnGXKG90ILNH6hzrT9M6_qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>223048221892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.btsApp</string>
	<key>PROJECT_ID</key>
	<string>scorebad-b5050</string>
	<key>STORAGE_BUCKET</key>
	<string>scorebad-b5050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223048221892:ios:ea8b1fdfda2bd9341af591</string>
</dict>
</plist>